.ruby .hljs-comment {
  color: #4f4f4f;
}

.ruby.alt-ruby .hljs-comment {
  color: yellow;
}

.big-code pre {
  width: 98%;
}

.reveal pre code {
  max-height: 1000px;
}

.full-image {
  top: -100px !important;
}
